<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Sample test Suite">
  <test name = "Sample test">
      <classes>
         <class name = "com.training.functional.tests.StudentRegistration_ELTC031" />
         <class name = "com.training.functional.tests.TeacherAddNewCourse_ELTC032" />
         <class name = "com.training.functional.tests.AdminCreateCourse_ELTC033" />
         <class name = "com.training.functional.tests.AdminCreateClass_ELTC034" />
         <class name = "com.training.functional.tests.AdminSubscribeClassToCourse_ELTC035" />
         <class name = "com.training.functional.tests.TeacherAddDescription_ELTC061" />
         <class name = "com.training.functional.tests.TeacherCreateTest_ELTC062" />
         <class name = "com.training.functional.tests.TeacherSendStrudentReport_ELTC063" />
         <class name = "com.training.functional.tests.TeacherGenerateStudentReport_ELTC064" />
         <class name = "com.training.functional.tests.StudentSubscribeandTakeAssessment_ELTC065" />
      </classes>
   </test>
</suite>	